<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.zhenpin.luxurystore">

    <!--    小能 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission
        android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.zhenpin.luxurystore.Main3Activity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.zhenpin.luxurystore.MainActivity" />
        <activity android:name="com.zhenpin.luxurystore.MainActivity2">

        </activity>


        <!--        小能      -->
        <activity
            android:name="cn.xiaoneng.activity.ChatActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar" />
        <activity
            android:name="cn.xiaoneng.activity.LeaveMsgActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar" />
        <activity
            android:name="cn.xiaoneng.activity.ShowCameraActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize|navigation|layoutDirection|touchscreen|locale|mnc|mcc|fontScale"
            android:launchMode="singleTask"
            android:theme="@style/MyDialogTopRight" />
        <activity
            android:name="cn.xiaoneng.activity.ShowAlbumActivity"
            android:launchMode="singleTask"
            android:theme="@android:style/Theme.NoTitleBar" />
        <activity
            android:name="cn.xiaoneng.activity.ValuationActivity"
            android:launchMode="singleTask"
            android:theme="@style/valuationdialog" />
        <activity
            android:name="cn.xiaoneng.activity.ShowPictureActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar" />
        <activity
            android:name="cn.xiaoneng.activity.XNExplorerActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar" />
        <activity
            android:name="cn.xiaoneng.video.VideoPreviewActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar" />
        <activity
            android:name="cn.xiaoneng.video.RecordVideoActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar" />
        <activity
            android:name="cn.xiaoneng.video.XNVideoPlayer"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar" />

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="${packageName}.fileProvider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
        <!--        //////小能 /////     -->

    </application>

</manifest>